/* 各ボタン */
.btns{
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.btns + .btns{
    margin-left: 20px;
}

.btns:hover{
    opacity: 0.3;
}


/* 削除系ボタン */
.deleteBtn{
    background-color: #ffb4b4;
    color: #000000;
    border: 2px solid #a10404;
}


/* 各テキストエリア */
.textAreas{
    height: 30px;
}


/* AddTask */
.addBtn{
    margin-left: 20px;
}


/* FilterButtons */
.active{
    background-color: #007bff;
    color: #fff;
    border: 2px solid #013c7c;
}


/* TodoItemList */
.items{
    padding-inline-start: 10px;
}


/* Todoitem */
.listItem{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 10px;
}

.completed{
    text-decoration: line-through;
    color: #888;
}

.checks{
    display: flex;
    align-items: center;
}

.editBtn{
    margin-left: 20px;
}

.checkBox{
    width: 20px;
    height: 20px;
    align-items: center;
}
