/* 各ボタン */

.filterBtn, .addBtn, .deleteBtn {
    padding: 6px 12px;
    border-radius: 4px;
}


/* AddTask */

.addBtn{
    margin-left: 20px;
}

.textArea{
    height: 30px;
}


/* FilterButtons */

.filterBtn + .filterBtn{
    margin-left: 20px;
}

.active{
    background-color: #007bff;
    color: #fff;
    border: 1px solid #013c7c;
}


/* TodoItemList */

.items{
    padding-inline-start: 10px;
}


/* Todoitem */

.listItem{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 10px;
}

.completed{
    text-decoration: line-through;
    color: #888;
}

.deleteBtn{
    margin-left: 20px;
}